@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body {
  font-family: "Open Sans", serif;
}

.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
 	background: rgba(73,155,234,0.96);
	background: linear-gradient(to right, rgba(73,155,234,0.96) 0%, rgba(73,155,234,0.97) 28%, rgba(32,124,229,1) 100%);
}

.main {
	height: 55vh;
	background: #2a6bb1;
	box-shadow: 10px 2px 100px -10px rgba(0,0,0,0.6);
  display: flex;
}